<div class="col-md-12">
    <div class="row">

        <h4 align="center">Hosts who rented most</h4>
        <md-card>
            <canvas id="hoststat" ></canvas>
        </md-card>

    </div>

</div>


<div class="col-md-6">
    <!--<canvas id="mycanvas" style="width: 500px;height: 300px"></canvas>-->
    <div class="panel panel-default">
        <div class="panel-heading" style="background: url('joker.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */width: 100%; height: 250px; position: relative;-webkit-background-size: cover;)">

        </div>
        <div class="panel-body text-center">
            <h2 class="panel-title" style="font-weight: bold">Joker</h2>
            <p>The villian</p>
            <a href="http://github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                <span class="icon icon-add-user"></span> View GitHub
            </a>
        </div>
    </div>
</div>

<div class="col-md-6">
    <!--<canvas id="mycanvas" style="width: 500px;height: 300px"></canvas>-->
    <div class="panel panel-default">
        <div class="panel-heading" style="background: url('bat.jpg') 50% 50% no-repeat; /* 50% 50% centers image in div */width: 100%; height: 250px; position: relative;-webkit-background-size: cover;)">

        </div>
        <div class="panel-body text-center">
            <h2 class="panel-title" style="font-weight: bold">Batman</h2>
            <p>The Night Watchman</p>
            <a href="http://github.com/fat" target="_blank" class="btn btn-primary-outline btn-sm m-b">
                <span class="icon icon-add-user"></span> View GitHub
            </a>
        </div>
    </div>
</div>
