<nav class="navbar" style="border-color: rgba(143, 156, 255, 0.27);min-height: 62px">

    <a href="admindash" style="min-height: inherit">
        <div align="center" class="col-xs-1" style="width: 5%; min-height: inherit;">
            <img src="New-2014-Air-Bnb-Logo.png" style="max-height: 32px;max-width: 32px; margin-top: 10px">
        </div>
    </a>


    <a ui-sref="approvals" style="min-height: inherit">
        <div class="col-xs-1" style="width: 10%;min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Approvals</h4>
        </div>
    </a>

    <a ui-sref="popular" style="min-height: inherit">
        <div class="col-xs-1" style="width: 10%; min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Trending</h4>
        </div>
    </a>

    <a ui-sref="traffic" style="min-height: inherit">
        <div class="col-xs-1" style="width: 10%;min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Traffic</h4>
        </div>
    </a>

    <a ui-sref="hosts" style="min-height: inherit">
        <div class="col-xs-1" style="width: 10%; min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Top Hosts</h4>
        </div>
    </a>

    <a ui-sref="reviews" style="min-height: inherit">
        <div class="col-xs-1" style="width: 10%; min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Reviews</h4>
        </div>
    </a>

    <a ui-sref="performance" style="min-height: inherit">
        <div class="col-xs-1" style="width: 10%;min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Performance</h4>
        </div>
    </a>

    <a ui-sref="help" style="min-height: inherit">
        <div class="col-xs-1 col-lg-offset-2" style="width: 10%;min-height: inherit;">
            <h4 align="center" style="color: black; margin-top: 19px">Help</h4>
        </div>
    </a>


    <div class="col-xs-1 " style=" min-height: inherit;">
        <div class="col-xs-6">
            <h4 align="center" style="color: black; margin-top: 19px"></h4>
        </div>
        <div class="col-xs-6">
            <img src="me.jpg" style="max-height: 32px;max-width: 32px; margin-top: 10px; border-radius: 50%;">
        </div>
    </div>




</nav>

