<div class="col-md-12">

    <div class="col-md-12">
        <div class="row">
            <form ng-submit="getByID()">
                <div class="row" style="margin-left: 10%">
                    <div class="col-md-10">
                        <input  type="text" class="form-control" ng-model="propID" placeholder="Enter property ID for analysis" required>
                    </div>
                    <div class="col-md-2" style="margin-left: -5.5%">
                        <button type="submit" class=" btn btn-primary glyphicon glyphicon-search" ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div col-md-12>

        <div class="row panel" ng-show="ratingsob">
            <h4 align="center">Average Rating : {{averageRatings}} of 5 from {{of}} users</h4>
        </div>

        <div class="row">
            <canvas id="propertyCount" style="width: 500px;height: 300px"></canvas>
        </div>



        <div class="row">
            <canvas id="ptrace" style="width: 500px;height: 300px"></canvas>
        </div>
    </div>


</div>
