<div class="container">


    <div class="row" style="margin-left: 10%">
        <form ng-submit="trackUser()">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" ng-model="name" placeholder="Enter user id to track" required>
                </div>
                <div class="col-md-2" style="margin-left: -5.5%; margin-top: -0.2%">
                    <button type="submit" class=" btn btn-primary glyphicon glyphicon-search" ></button>
                </div>
            </div>
        </form>
    </div>


    <div class="row">
        <div id='myChart'></div>
    </div>

    <div class="row" style="margin-top: 40px; margin-bottom: 100px">
        <div id='myChart2'></div>
    </div>


</div>
